.nav-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.nav-button {
  width: 24px;
  height: 24px;
  border: 1px solid var(--color-border);
  border-radius: 4px;
  background-color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.diagonal-line {
  width: 20px;
  height: 1px;
  background-color: var(--color-text);
  transform: rotate(45deg);
}

.diagonal-line-reverse {
  width: 20px;
  height: 1px;
  background-color: var(--color-text);
  transform: rotate(-45deg);
}

.horizontal-line {
  width: 20px;
  height: 1px;
  background-color: var(--color-text);
}

.vertical-line {
  width: 1px;
  height: 20px;
  background-color: var(--color-text);
}



.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid var(--color-border);
}

.sidebar-header h2 {
  font-size: 14px;
  font-weight: normal;
  color: var(--color-text);
}

.close-button {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
  color: var(--color-text-secondary);
}
